<h1 mat-dialog-title>Tìm nâng cao</h1>
<div mat-dialog-content class="d-flex flex-column">
  <mat-form-field>
    <mat-label>Tên sản phẩm</mat-label>
    <input matInput [(ngModel)]="data.ten">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Địa chỉ</mat-label>
    <input matInput [(ngModel)]="data.diaChi">
  </mat-form-field>
  <div>
    <mat-label>Giá tiền</mat-label>
    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
