<div class="homepage">
  <div class="header">
    <app-tim-kiem (thayDoiTimKiem)="modelChanged($event)"></app-tim-kiem>
  </div>

  <div class="content">
    <div class="content-header d-flex flex-row justify-content-between align-items-center">
      <div class="header">Bất động sản</div>
      <button mat-raised-button color="primary">Xem tất cả ({{danhSachBatDongSan.length}})</button>
    </div>
    <div class="content-wrapper">
      <div class="item-wrapper" *ngFor="let item of danhSachBatDongSan; let i=index" >
        <div class="item cursor-pointer" *ngIf="i < soLuongToiDa" [routerLink]="'/bat-dong-san/' + item.id">
          <img [src]="'api/images/' + item.urlHinhDaiDien" [alt]="item.urlHinhDaiDien">
          <div class="item-content d-flex flex-column">
            <div class="ten-tai-san">{{ item.ten }}</div>
            <div class="gia">{{ item.gia| number }} VNĐ</div>
            <div class="dia-chi">{{ item.diaChi }}</div>
            <div class="xem-them mt-auto">Xem chi tiết</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!danhSachBatDongSan || danhSachBatDongSan.length == 0" class="text-center">
      Không có dữ liệu
    </div>
  </div>

  <div class="content">
    <div class="content-header d-flex flex-row justify-content-between align-items-center">
      <div class="header">Động sản</div>
      <button mat-raised-button color="primary">Xem tất cả ({{danhSachDongSan.length}})</button>
    </div>
    <div class="content-wrapper">
      <div class="item-wrapper" *ngFor="let item of danhSachDongSan; let i=index">
        <div class="item cursor-pointer" *ngIf="i < soLuongToiDa" [routerLink]="'/dong-san/' + item.id">
          <img [src]="'api/images/' + item.diaChiHinhAnhDaiDien" [alt]="item.diaChiHinhAnhDaiDien">
          <div class="item-content d-flex flex-column">
            <div class="ten-tai-san">{{ item.ten }}</div>
            <div class="gia">{{ item.gia | number }} VNĐ</div>
            <div class="dia-chi">{{ item.diaChi }} </div>
            <div class="xem-them mt-auto">Xem chi tiết</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!danhSachDongSan || danhSachDongSan.length == 0" class="text-center">
      Không có dữ liệu
    </div>
  </div>
</div>
