<div class="centeredPrompt">
  <div>
    <div class="logo"></div>
    <h1>Xin chào</h1>
    <h3>Đăng nhập để tiếp tục</h3>
    <div class="user">
      <span position="floating">Tài khoản</span>
      <input type="text"/>
      <span name="person" slot="start"></span>
    </div>
    <div class="password">
      <span position="floating">Mật khẩu</span>
      <input type="password"/>
      <span name="medical" slot="start"></span>
    </div>
    <div class="submit">
      <button (click)="submitLogin()">
        Đăng nhập
        <span>name="arrow-forward"></span>
      </button>
    </div>
  </div>
</div>
