<div class="header">
  <h2>Tìm kiếm tài sản bạn mong muốn</h2>
  <div class="pull"></div>
  <div class="pull"></div>

  <input type="text" ng-model="firstname" placeholder="Khu vực, dự án, địa điểm" [(ngModel)]="keyword" (ngModelChange)="modelChanged($event)">
  <select (change)="sortChange($event.target.value)">
    <option value="high-to-low">Giá cao đến thấp</option>
    <option value="low-to-high">Giá thấp đến cao</option>
  </select>
  <button (click)="openDialog()">Tìm kiếm nâng cao</button>
</div>
