.header {
  background: white;
  margin: 30px 0px;
  gap: 12px;
  padding-top: 1.34375em;

  .mat-raised-button {
    height: 50px;
    margin-bottom: 1.34375em;
  }

  .sort {
    margin: 0 16px;
  }

  ::ng-deep {
    .mat-form-field-wrapper {
      color: white !important;
    }
    mat-option {
      color: white !important;
    }
    .mat-selected .mat-active {
      color: white !important;
    }
    .mat-select-value-text {
      color: white !important;
    }
    .mat-select-arrow-wrapper {
      color: white !important;
    }
    .mat-select-arrow {
      color: white !important;
    }
    .mat-form-field-flex {
      background-color: #0275b1;
      mat-label {
        color: white;
      }
    }

  }
}
