.homepage-wrapper {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .footer {
    height: 150px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #323e48;
  }

  nav {
    background: white;
  }

  .mat-tab-link {
    color: black;
    background: white;
  }

  .active-tab {
    background: #0275b1;
    color: white;
    opacity: 1;
  }
}
