<div class="wrapper">
  <div class="header">
    <app-tim-kiem (thayDoiTimKiem)="modelChanged($event)"></app-tim-kiem>
  </div>

  <div class="content-wrapper">
    <div class="item cursor-pointer" *ngFor="let item of danhSachBatDongSan" (click)="xemChiTiet(item.id)">
      <img [src]="'api/images/' + item.urlHinhDaiDien" [alt]="item.urlHinhDaiDien">
      <div class="item-content">
        <div class="ten-tai-san">{{ item.ten }}</div>
        <div class="gia">{{ item.gia| number }}</div>
        <div class="dia-chi">{{ item.diaChi }}</div>
      </div>
    </div>
    <div *ngIf="!danhSachBatDongSan || danhSachBatDongSan.length == 0" class="text-center">
      Không có dữ liệu
    </div>
  </div>
</div>
