<div class="wrapper" *ngIf="batDongSan">
  <div class="header">
    <div class="name">{{ batDongSan.ten }}</div>
    <div class="location">{{ batDongSan.diaChi }} </div>
  </div>
  <div class="content">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let item of batDongSan.danhSachUrlHinhAnh; let i = index;" >
        <div class="picsum-img-wrapper" (click)="open(i)">
          <img [src]="'api/images/' + item" [alt]="item" >
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="details">
      <div class="detail-left">
        <div class="top">
          <app-thong-so [title]="'Giá'" [valueNumber]="batDongSan.gia" [valueString]="batDongSan.giaBangChu"></app-thong-so>
          <app-thong-so [title]="'Diện tích đất'" [valueString]="batDongSan.dienTichDat + 'm²'"></app-thong-so>
          <app-thong-so [title]="'Diện tích nhà'" [valueString]="batDongSan.dienTichNha + 'm²'"></app-thong-so>
          <app-thong-so [title]="'Hướng'" [valueString]="batDongSan.huong"></app-thong-so>
          <app-thong-so [title]="'Mục đích sử dụng'" [valueString]="batDongSan.mucDichSuDung"></app-thong-so>
        </div>

        <div class="bottom mt-5">
          <div class="title">Mô tả</div>
          <div class="content">
            <quill-view [content]="batDongSan.ghiChu" format="html" theme="snow"></quill-view>
          </div>
        </div>
      </div>
      <div class="detail-right" *ngIf=this.center>
        {{ batDongSan.viTriGoogleMap }}
        <google-map id="map" [center]="this.center" height="400px" width="100%"></google-map>
      </div>
    </div>
  </div>
  <div class="footer">

  </div>
</div>
