.wrapper {
  .header {
    background-image: linear-gradient(90deg, #005689, #006b9b,#007baa,#0078a8,#00588b);
    width: 100%;
    color: white;
    text-align: center;
    padding: 26px;

    .name {
      font-size: 30px;
      margin: 16px;
    }
    .location {
      font-size: 18px;
    }
  }
  .content {
    ngb-carousel {
      background-image: linear-gradient(90deg, #005689, #006b9b,#007baa,#0078a8,#00588b);
      padding-bottom: 24px;
    }
    ngb-carousel:focus {
      outline: none;
    }
    ngb-carousel img {
      height: 50vh;
      object-fit: cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .details {
      margin-top: 26px;
      padding: 0 32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: #323E48;
      .detail-left {
        padding: 0 16px;
        .top {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 20px;
          column-gap: 10px;
        }
      }

      quill-view {
        font-family: 'Montserrat'
      }
    }
  }
}
